body {font-family:arial;font-size:10pt;}
#Description {background-color:#dddddd;width:646px;border:2px solid #888888;margin-top:10px;}
#Description div.PanelTitle {border-bottom:2px solid #888888;}
#Description div.TextField {border-width:1px;border-color:#888888;border-style:solid;padding:5px;margin:5px;display:inline-table;width:450px;background-color:#ffffff;}
#Description label {display:inline-block;width:150px;border-width:1px;padding:5px;margin:5px;}
#Conditions {background-color:#dddddd;width:646px;padding-bottom:5px;border:2px solid #888888;margin-top:10px;}
#Actions {background-color:#dddddd;width:646px;padding-bottom:5px;border:2px solid #888888;margin-top:10px;}
div.PanelTitle {font-size:20pt;background-color:#ffffff;padding:5px;}
.SectionLabel{display:inline-block;width:300px;padding:5px;margin:5px;font-weight:bold;font-size:12pt}
.SectionActive {display:inline-block;width:300px;padding:5px;margin:5px;}
.SearchModifier {background-color:#ffffff;display:inline-block;width:75px;padding:5px;margin-left:5px;margin-top:5px;margin-right:0px;margin-bottom:0px;border-width:1px;border-color:#888888;border-style:solid;font-weight:bold}
.Object,.Action {width:300px;background-color:#ffffff;display:inline-block;padding:5px;margin-left:5px;margin-top:5px;margin-right:0px;margin-bottom:0px;border-width:1px;border-color:#888888;border-style:solid;font-weight:bold;}
.Field  {width:140px;background-color:#ffffff;display:inline-block;padding:5px;margin-left:5px;margin-top:5px;margin-right:0px;margin-bottom:0px;border-width:1px;border-color:#888888;border-style:solid;}
.FieldComparison {width:140px;background-color:#ffffff;display:inline-block;padding:5px;margin-left:5px;margin-top:5px;margin-right:0px;margin-bottom:0px;border-width:1px;border-color:#888888;border-style:solid;}
.ArgumentName {width:140px;display:block;padding:5px;margin-left:5px;margin-top:5px;margin-right:0px;margin-bottom:0px;}
.ArgumentValue {width:140px;display:inline-table;background-color:#ffffff;padding:5px;margin-left:5px;margin-top:5px;margin-right:0px;margin-bottom:0px;border-width:1px;border-color:#888888;border-style:solid;}
.Arguments {display:inline-table}
.FieldComparison {display:inline-block;}
.ComparisonFunction {display:inline-block;}
.Variables {width:140px;background-color:#ffffff;display:inline-table;padding:5px;border-width:1px;border-color:#888888;border-style:solid;margin-left:5px;margin-top:5px;margin-right:0px;margin-bottom:0px;}
div.Jump {padding:5px;border-width:1px;border-style:solid;margin-left:5px;margin-top:5px;margin-right:5px;margin-bottom:0px;}
.JumpAlways {background-color:#98FB98;}
.JumpWhenTrue {background-color:#98FB98;}
.JumpWhenFalse {background-color:#F08080;}
.Jump a {color:#000000;text-decoration:none;font-weight:bold;}
.Jump a:hover {color:#000000;text-decoration:underline;font-weight:bold;}
a.Table {display:inline;color:#000000;text-decoration:none;}
a.Table:hover {display:inline;color:#000000;text-decoration:underline;}
a.DataItem {display:inline;color:#000000;text-decoration:none;}
a.DataItem:hover {display:inline;color:#000000;text-decoration:underline;}
div.SectionActive.Active {display:none;}
.RegularExpression .ArgumentValue {white-space:pre;font-family:"Courier New",Courier,monospace;}

.ActionSection {border-top:2px solid #888888;margin-top:5px;}
.ActionSection.First {margin-top:0px;}
.ActionSection .ArgumentName {width:150px;display:inline-block;padding:5px;margin-left:5px;margin-top:5px;margin-right:0px;margin-bottom:0px;}
.ActionSection .ArgumentValue {width:300px;display:inline-block;background-color:#ffffff;padding:5px;margin-left:5px;margin-top:5px;margin-right:0px;margin-bottom:0px;border-width:1px;border-color:#888888;border-style:solid;}
.ActionSection .Arguments {display:inline-table}

.ConditionSection {border-top:2px solid #888888;margin-top:5px;}
.ConditionSection.First {margin-top:0px;}

/*Comparison overrides*/
.EnterDataItemName .Arguments .Argument label {display:none;}
.Databaseexactmatch .Arguments .Argument label {display:none;}
.Databasecontains .Arguments .Argument label {display:none;}
.Notindatabaseexact .Arguments .Argument label {display:none;}

.EnterDataItemName  .FieldComparison {display:none;}
.EnterDataItemName  .ArgumentValue {width:300px}

/*Jump if overrides*/
.EnterDestintation  .FieldComparison {display:none;}
.EnterDestintation  .ArgumentValue {width:300px}
.EnterDestintation div.Jump {padding:0px;border-width:0px;margin:0px;}
.EnterDestintation .Arguments .Argument label {display:none;}

/* Contains a mask overrides */
.Containsamask .Arguments {display:block;border-top:1px solid #888888;}
.Containsamask .ComparisonFunction {display:inline-table;width:300px;border:1px solid #888888;margin-left:5px;margin-right:0px;margin-top:5px;margin-top:0px;}
.Containsamask .FieldComparison {width:300px;margin:0px;border-width:0px;}
.Containsamask .SampleData {width:300px;height:auto;overflow:visible;}
.Containsamask .SampleData .ArgumentValue {width:283px;white-space:pre;font-family:"Courier New",Courier,monospace;margin-bottom:5px;}
.Containsamask .Mask {width:300px;height:auto;overflow:visible;}
.Containsamask .Mask .ArgumentValue {width:283px;}

/* Matches a mask overrides */
.Matchesamask .Arguments {display:block;border-top:1px solid #888888;}
.Matchesamask .ComparisonFunction {display:inline-table;width:300px;border:1px solid #888888;margin-left:5px;margin-right:0px;margin-top:5px;margin-top:0px;}
.Matchesamask .FieldComparison {width:300px;margin:0px;border-width:0px;}
.Matchesamask .SampleData {width:300px;height:auto;overflow:visible;}
.Matchesamask .SampleData .ArgumentValue {width:283px;white-space:pre;font-family:"Courier New",Courier,monospace;margin-bottom:5px;}
.Matchesamask .Mask {width:300px;height:auto;overflow:visible;}
.Matchesamask .Mask .ArgumentValue {width:283px;}

/* Does not contain a mask overrides */
.Doesnotcontainamask  .Arguments {display:block;border-top:1px solid #888888;}
.Doesnotcontainamask  .ComparisonFunction {display:inline-table;width:300px;border:1px solid #888888;margin-left:5px;margin-right:0px;margin-top:5px;margin-top:0px;}
.Doesnotcontainamask  .FieldComparison {width:300px;margin:0px;border-width:0px;}
.Doesnotcontainamask  .SampleData {width:300px;height:auto;overflow:visible;}
.Doesnotcontainamask  .SampleData .ArgumentValue {width:283px;white-space:pre;font-family:"Courier New",Courier,monospace;margin-bottom:5px;}
.Doesnotcontainamask  .Mask {width:300px;height:auto;overflow:visible;}
.Doesnotcontainamask  .Mask .ArgumentValue {width:283px;}

/* Does not match a mask overrides */
.Doesnotmatchamask  .Arguments {display:block;border-top:1px solid #888888;}
.Doesnotmatchamask  .ComparisonFunction {display:inline-table;width:300px;border:1px solid #888888;margin-left:5px;margin-right:0px;margin-top:5px;margin-top:0px;}
.Doesnotmatchamask  .FieldComparison {width:300px;margin:0px;border-width:0px;}
.Doesnotmatchamask  .SampleData {width:300px;height:auto;overflow:visible;}
.Doesnotmatchamask  .SampleData .ArgumentValue {width:283px;white-space:pre;font-family:"Courier New",Courier,monospace;margin-bottom:5px;}
.Doesnotmatchamask  .Mask {width:300px;height:auto;overflow:visible;}
.Doesnotmatchamask  .Mask .ArgumentValue {width:283px;}

/*Store Database Data Item overrides*/
.StoreDatabaseDataItem .Arguments {display:block}
.StoreDatabaseDataItem .Argument {display:inline-table;width:300px;}
.StoreDatabaseDataItem .ArgumentValue {width:300px}

/*Store Database Data Item overrides*/
.StoreResRuleDataItem .Arguments {display:block}
.StoreResRuleDataItem .Argument {display:inline-table;width:300px;}
.StoreResRuleDataItem .ArgumentValue {width:300px}

/*Set PNR Data Item overrides*/
.SetPNRDataItem .Arguments {display:block}
.SetPNRDataItem .Argument {display:inline-table;width:300px;}
.SetPNRDataItem .ArgumentValue {width:300px}

/*Ignore and Retreive PNR Section*/
.IgnoreandRetrievePNR  .Field {width:462px;}
.IgnoreandRetrievePNR  .FieldComparison {display:none}
.IgnoreandRetrievePNR  .Arguments {display:none}

/*Add Error Section*/
.AddError .Arguments {display:inline-table}
.AddError .Argument {display:inline-table;width:300px;}
.AddError .ArgumentName {display:none}
.AddError .ArgumentValue {width:300px}

/*Into a variable dialog*/
.Intoavariable .Arguments {display:block;border-top:1px solid #888888;}
.Intoavariable .ComparisonFunction {display:inline-table;width:300px;border:1px solid #888888;margin-left:5px;margin-right:0px;margin-top:5px;margin-top:0px;}
.Intoavariable .FieldComparison {width:300px;margin:0px;border-width:0px;}
.Intoavariable .SampleData {width:300px;height:auto;overflow:visible;}
.Intoavariable .SampleData .ArgumentValue {width:283px;white-space:pre;font-family:"Courier New",Courier,monospace;}
.Intoavariable .Step1ReadFromOffset.Argument {border-top:1px solid #888888;margin-top:5px;}
.Intoavariable .Step1ReadFromOffset  .ArgumentValue {display:inline-block;width:50px;}
.Intoavariable .Step1ReadFromOffset  .ArgumentName {display:inline-block;width:215px;}
.Intoavariable .Step1ReadFromMask  .ArgumentName {width:285px;}
.Intoavariable .Step1ReadFromMask  .ArgumentValue {width:285px;}
.Intoavariable .Step1ReadExactMask  .ArgumentName {width:285px;}
.Intoavariable .Step1ReadExactMask  .ArgumentValue {width:285px;}
.Intoavariable .Step1ReadUntilMask  .ArgumentName {width:285px;}
.Intoavariable .Step1ReadUntilMask  .ArgumentValue {width:285px;}
.Intoavariable .Step1ReadNumberofCharacters  .ArgumentValue {display:inline-block;width:50px;}
.Intoavariable .Step1ReadNumberofCharacters  .ArgumentName {display:inline-block;width:215px;}
.Intoavariable .Step2ReadFromOffset.Argument {border-top:1px solid #888888;margin-top:5px;}
.Intoavariable .Step2ReadFromOffset .ArgumentValue {display:inline-block;width:50px;}
.Intoavariable .Step2ReadFromOffset  .ArgumentName {display:inline-block;width:215px;}
.Intoavariable .Step2ReadExactMask  .ArgumentValue {width:285px;}
.Intoavariable .Step2ReadExactMask  .ArgumentName {width:285px;}
.Intoavariable .OutputDataType  .ArgumentValue {display:inline-block;width:130px;}
.Intoavariable .OutputDataType  .ArgumentName {display:inline-block;width:135px;margin-bottom:5px;}

/*Enter GDS Entry dialog*/
.EnterGDSEntry .Arguments {display:block;border-top:1px solid #888888;}
.EnterGDSEntry .ComparisonFunction {display:inline-table;width:300px;border:1px solid #888888;margin-left:5px;margin-right:0px;margin-top:5px;margin-top:0px;}
.EnterGDSEntry .FieldComparison {width:300px;margin:0px;border-width:0px;}
.EnterGDSEntry .Entry {width:300px;height:auto;overflow:visible;}
.EnterGDSEntry .Entry .ArgumentValue  {width:283px;white-space:pre;font-family:"Courier New",Courier,monospace;}
.EnterGDSEntry .DoubleResponse  .ArgumentValue {display:inline-block;width:50px;}
.EnterGDSEntry .DoubleResponse  .ArgumentName {display:inline-block;width:215px;}
.EnterGDSEntry .EntryEndsRecord  .ArgumentValue {display:inline-block;width:50px;}
.EnterGDSEntry .EntryEndsRecord  .ArgumentName {display:inline-block;width:215px;}
.EnterGDSEntry .DoNotStoreResponse  .ArgumentValue {display:inline-block;width:50px;}
.EnterGDSEntry .DoNotStoreResponse  .ArgumentName {display:inline-block;width:215px;}
.EnterGDSEntry .MaxMoveDowns  .ArgumentValue {display:inline-block;width:50px;}
.EnterGDSEntry .MaxMoveDowns  .ArgumentName {display:inline-block;width:215px;margin-bottom:5px;}

/*Click to Read Response dialog*/
.ClickToReadResponse .Arguments  {display:block;border-top:1px solid #888888;}
.ClickToReadResponse .ComparisonFunction {display:inline-table;width:300px;border:1px solid #888888;margin-left:5px;margin-right:0px;margin-top:5px;margin-top:0px;}
.ClickToReadResponse .FieldComparison {width:300px;margin:0px;border-width:0px;}
.ClickToReadResponse .SampleResponse {width:300px;height:auto;overflow:visible;}
.ClickToReadResponse .SampleResponse .ArgumentValue {width:283px;white-space:pre;font-family:"Courier New",Courier,monospace;}
.ClickToReadResponse .SkipAllLinesBeforeMask.Argument {border-top:1px solid #888888;margin-top:5px;}
.ClickToReadResponse .SkipAllLinesBeforeMask .ArgumentName {width:285px;}
.ClickToReadResponse .SkipAllLinesBeforeMask  .ArgumentValue {width:285px;}
.ClickToReadResponse .FindLineType .ArgumentValue {display:inline-block;width:130px;}
.ClickToReadResponse .FindLineType .ArgumentName {display:inline-block;width:135px;}
.ClickToReadResponse .FindLineFromLine .ArgumentValue {display:inline-block;width:50px;}
.ClickToReadResponse .FindLineFromLine .ArgumentName {display:inline-block;width:215px;}
.ClickToReadResponse .FindLinesLineCount .ArgumentValue {display:inline-block;width:50px;}
.ClickToReadResponse .FindLinesLineCount .ArgumentName {display:inline-block;width:215px;}
.ClickToReadResponse .FindLineConatainingMask.Argument  {width:300px;height:auto;overflow:visible;}
.ClickToReadResponse .FindLineConatainingMask .ArgumentName {width:285px;}
.ClickToReadResponse .FindLineConatainingMask .ArgumentValue {width:285px;}
.ClickToReadResponse .Step1ReadFromOffset.Argument {border-top:1px solid #888888;margin-top:5px;}
.ClickToReadResponse .Step1ReadFromOffset .ArgumentValue {display:inline-block;width:50px;}
.ClickToReadResponse .Step1ReadFromOffset .ArgumentName {display:inline-block;width:215px;}
.ClickToReadResponse .Step1ReadFromMask .ArgumentName {width:285px;}
.ClickToReadResponse .Step1ReadFromMask .ArgumentValue {width:285px;}
.ClickToReadResponse .Step1ReadExactMask .ArgumentName {width:285px;}
.ClickToReadResponse .Step1ReadExactMask .ArgumentValue {width:285px;}
.ClickToReadResponse .Step1ReadUntilMask .ArgumentName {width:285px;}
.ClickToReadResponse .Step1ReadUntilMask .ArgumentValue {width:285px;}
.ClickToReadResponse .Step1ReadNumberofCharacters .ArgumentValue {display:inline-block;width:50px;}
.ClickToReadResponse .Step1ReadNumberofCharacters .ArgumentName {display:inline-block;width:215px;}
.ClickToReadResponse .Step2ReadFromOffset.Argument {border-top:1px solid #888888;margin-top:5px;}
.ClickToReadResponse .Step2ReadFromOffset .ArgumentValue {display:inline-block;width:50px;}
.ClickToReadResponse .Step2ReadFromOffset .ArgumentName {display:inline-block;width:215px;}
.ClickToReadResponse .Step2ReadExactMask .ArgumentValue {width:285px;}
.ClickToReadResponse .Step2ReadExactMask .ArgumentName {width:285px;}
.ClickToReadResponse .OutputDataType .ArgumentValue {display:inline-block;width:130px;}
.ClickToReadResponse .OutputDataType .ArgumentName {display:inline-block;width:135px;margin-bottom:5px;}

/*Run another resrule action overrides*/
.RunAnotherResRule div.Jump {padding:0px;border-width:0px;margin:0px;}
.RunAnotherResRule div.Jump .ArgumentName {display:none;}

.SendToQueue .QueueNumber .ArgumentName {display:none;}

/*Make Entry*/
.MakeEntry .Entry {width:600px;height:auto;overflow:visible;}
.MakeEntry .Entry .ArgumentValue  {width:300px;white-space:pre;font-family:"Courier New",Courier,monospace;}

.Boolean.true .ArgumentValue {width:12px;height:12px;background:url(../images/chk_on.gif);text-indent:-9999px;padding:0px;background-color:#ffffff;}
.Boolean.false .ArgumentValue {width:12px;height:12px;background:url(../images/chk_off.gif);text-indent:-9999px;padding:0px;background-color:#ffffff;}

.Inactive {color:#aaaaaa;}
.Inactive a {color:#aaaaaa;}